@font-face {
    font-family: Poppins Bold;
    src: url(Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins light;
    src: url(Poppins-Light.ttf);
}

.topbar {
    background-color: white !important;
    padding: 5vh 0;
    border-bottom: 1px solid #eee;
}

.topbar {
    padding: auto 100px !important;
}

.alink {
    font-size: 18px;
    font-family: Poppins Bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 300;
}

.link {
    font-size: 18px;
    font-family: Poppins light;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 300;
}

/* dropdown */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    border: 0;
    border-radius: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 130px !important;
    box-shadow: 4px 11px 23px 0px rgb(0 0 0 / 10%);
    margin-top: 4.8vh !important;
}

.dropdown-menu>.dropdown-item {
    background-color: white;
    font-family: Poppins light;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown-menu>.dropdown-item:hover {
    background-color: white;
    text-decoration: underline;
}

.dropdown-toggle .nav-link {
    font-family: Poppins light !important;
}

.nav-search {
    margin-right: -28px;
    border: 1px solid #ebebeb;
    width: 40vh !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 21px;
    font-size: 16px;
    font-family: 'POPPINS LIGHT';
}

.nav-search:hover{
    transition: 3s;
}

.topbar i{
    cursor: pointer;
    transition: 5s;
}

.topbar i:hover{
    cursor: pointer;
    color: red;
}