::-webkit-scrollbar {
    width: 8px; /* Set width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff; /* Set color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #885338; /* Set color of the thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555555; /* Set color of the thumb on hover */
}